* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

a {
  box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none;
}

.btn {
  padding: 0.5em 1em;
  background: none;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.btn-active {
  background: #276ef1;
  color: #fff;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background-color: #000;
}

.burger {
  font-size: 0.5em;
  background-color: #fff;
}

.react-live {
  margin-top: -36px;
}
.react-live-error {
  background-color: #ae372a;
  font-family: Consolas, monaco, monospace;
  line-height: 1.5;
  font-size: 0.875rem;
  color: #fff;
  white-space: pre;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 2em;
  overflow-x: scroll;
}

.react-live-preview {
  border-left: 5px solid #43b982;
  padding-left: 1.5em;
  background-color: #fdfdfd;
}

code[class*="language-"],
pre[class*="prism-code"],
pre[class*="hljs"],
pre[class*="language-"] {
  outline: none;
  color: black;
  background: none;
  font-size: 0.875rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="prism-code"],
pre[class*="hljs"],
pre[class*="language-"] {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow: scroll;
}
pre[class*="prism-code"],
pre[class*="hljs"],
pre[class*="language-"] > code {
  position: relative;
  border-left: 5px solid #358ccb;
  padding-left: 1.5em;
  background-color: rgba(0, 0, 0, 0.01);
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: "";
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 880px) {
  pre[class*="language-"] > code {
    border-left: 3px solid #358ccb;
    padding-left: 1em;
  }
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none;
  }
}

@media screen and (max-width: 620px) {
  .react-live > pre,
  .react-live-error,
  pre[class*="hljs"] {
    width: 80vw;
  }
}

@media screen and (max-width: 470px) {
  .react-live > pre,
  .react-live-error,
  pre[class*="hljs"] {
    width: 75vw;
  }
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}
